/* Start Global Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  padding: 0;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/031/764/original/blue-wide-background-with-linear-blurred-gradient-free-vector.jpg");
  backdrop-filter: blur(10px);
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: white;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  animation: slideDown 1s ease-in-out;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.landing-page header .logo {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}

.landing-page header .links li {
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #6c63ff;
}

.landing-page header .links li:not(:last-child):hover {
  color: #6c63ff;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 1em;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
select {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  color: #000; /* Black text color */
}

button {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-button {
  margin-top: 20px;
}

button:hover {
  background-color: #2980b9;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  flex-grow: 1;
  width: 100%;
}

.pet-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 600px; /* Set a fixed height for the pet card */
  animation: slideUp 1s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.pet-image {
  text-align: center;
}

.pet-image img {
  max-width: 100%;
  height: 250px;
  border-radius: 5px;
}

.pet-info {
  text-align: left;
  max-height: 280px; /* Set a maximum height for the pet info */
  overflow: hidden;
}

.pet-info p {
  margin: 0; /* Remove margin to prevent spacing issues */
  padding: 0; /* Remove padding to prevent spacing issues */
  font-size: 14px; /* Adjust font size to fit content */
}

.pet-info h2 {
  margin-top: 0;
}

.adopt-button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.adopt-button:hover {
  background-color: #c0392b;
}
